.view_doc {
  height: 58vh;
  margin-left: 5px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

table, th, td {
  border: 1px solid black;
}

td {
  height: 50px;
  vertical-align: bottom;
}
