<div class="row">
  <div class="col">
    <h4>Детализация</h4>
  </div>
  <div class="col">
    <button class ="btn btn-outline-danger" type="button" (click)="Close()" style="float: right;"> X </button>
  </div>
</div>
<hr>
<div class="custom-control custom-radio custom-control-inline" style="margin-top: 5px;">
  <input type="radio" [value]="1" class="custom-control-input" id="customerId" [(ngModel)]="TypeView" (change)="viewDetal()" >
  <label class="custom-control-label" for="customerId">Акт КС-2</label>
</div>

<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" [value]="2" class="custom-control-input" id="performerId" [(ngModel)]="TypeView" (change)="viewDetal()" >
  <label class="custom-control-label" for="performerId">Локальная смета</label>
</div>
<hr>
<div class="central_group mat-elevation-z10" style="height: 60vh;">
  <pre class="view_doc" id="viewDoc">
  </pre>
</div>
