@import '~bootstrap/scss/bootstrap';

.nav-responsive {
  border-bottom: 1px solid mat-color($primary);

  mat-select {
    line-height: 48px;
    margin: 0 20px;
    width: 100%;
  }
}

a#logo {
  width: 203px;
  height: 54px;
  background: url(../logo.png) left top no-repeat;
  display: block;
  margin-right: 20px;
}
