  <div class="container mat-elevation-z10">
    <br>
    <div class="row">
      <div class="col col-lg-5">
        <a class="btn btn-outline-primary" matTooltip="Вернуться к журналу документов" (click)="Return()"> Назад </a>
        <button class="btn btn-outline-warning" matTooltip="Обновить карточку документа" (click)="RefresData()" style="margin-left: 10px"> Обновить </button>
        <button class="btn btn-outline-success" matTooltip="Сохранить данные" (click)="saveDoc()" style="margin-left: 10px" [disabled]="this.docInfo.isClosed"> Сохранить </button>
      </div>
      <div class="col">
        <h4>Карточка документа № {{ docInfo.number }}</h4>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-md-6">

        <div class="row">

          <div class="col">
            <label for="inputDate">Дата документа</label>
          </div>
          <div class="col">
            <input type="date" class="form-control" id ="inputDate" [(ngModel)]="docInfo.date" [readOnly]="docInfo.isClosed">
          </div>

          <div class="col">
            <label for="close"> Закрыт </label>
          </div>
          <div class="col">
            <input [(ngModel)]="docInfo.isClosed" type="checkbox" class="form-check-input" id="close" [readonly]="true" onclick="return false;">
          </div>
        </div>


        <div class="row" style="margin-top: 5px">
          <div class="col col-lg-4">
            <label for="id_type_doc"> Тип документа </label>
          </div>
          <div class="col">

            <select class="browser-default custom-select inputText" id ="id_type_doc" [(ngModel)]="docInfo.documentTypeId" [disabled]="docInfo.isClosed">
              <option *ngFor="let title of typesDoc" [value]="title.id">
                {{title.name}}
              </option>
            </select>

          </div>
        </div>

        <div class="row" style="margin-top: 5px">
          <div class="col col-lg-4">
            <label for="id_vid_doc"> Вид документа </label>
          </div>
          <div class="col">
            <select class="browser-default custom-select inputText" id ="id_vid_doc" [(ngModel)]="docInfo.documentKindId" [disabled]="docInfo.isClosed">
              <option *ngFor="let title of vidsDoc" [value]="title.id">
                {{title.name}}
              </option>
            </select>
          </div>
        </div>

        <div class="row" style="margin-top: 5px">
          <div class="col col-lg-4">
            <label for="num_doc"> № документа </label>
          </div>
          <div class="col">
            <input [(ngModel)]="docInfo.number" type="text" class="inputText" id="num_doc" [disabled]="docInfo.isClosed">
          </div>
        </div>

        <div class="form-group purple-border">
          <label for="spec">Описание документа</label>
          <textarea class="form-control" id="spec" rows="3" [(ngModel)]="docInfo.description" [readOnly]="docInfo.isClosed"></textarea>
        </div>

        <div class="row">
          <div class="col col-lg-6">
            <label for="customerId">Подразделение составившее документ</label>
          </div>
          <div class="col">
            <select class="browser-default custom-select inputText" id ="customerId" [(ngModel)]="docInfo.departmentId" [disabled]="docInfo.isClosed">
              <option *ngFor="let title of orgs" [value]="title.id">
                {{title.name}}
              </option>
            </select>
          </div>
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <button
              matTooltip="Скачать файл"
              class="btn btn-outline-dark"
              [disabled]="docInfo.mainFileName === null"
              style="margin-left: 10px;"
              (click)="OpenDoc(docInfo.idFile, docInfo.mainFileName, 1)">
              <img [src]="imageSource" *ngIf="imageSource"/>
            </button>
          </div>
          <div class="custom-file">
            <input #fileDoc type="file" class="custom-file-input" id="inputGroupFile01"
                   aria-describedby="inputGroupFileAddon01"
                   (change)="AddFile()" [disabled]="docInfo.isClosed">
            <label class="custom-file-label" for="inputGroupFile01" data-browse="Обзор">{{ docInfo.mainFileName }}</label>
          </div>
        </div>

        <div class="row" style="margin-top: 5px">
          <div class="col">
          </div>
          <div class="col">
            <button
              class="btn btn-outline-dark"
              matTooltip="Подписать файл с помощью Рутокена"
              [disabled]="docInfo.mainFileName === null || docInfo.stringKey !== null"
              style="width: 100%;"
              (click)="SigFile()">
              Подписать
            </button>
          </div>
          <div class="col">
            <button
              class="btn btn-outline-dark"
              matTooltip="Проверить файл с помощью Рутокена"
              [disabled]="docInfo.stringKey === null"
              style="width: 100%"
              (click)="VerifySign()"
              >
              Проверить
            </button>
          </div>
        </div>

        <div class="row" style="margin-top: 5px">
          <div class="col col-lg-3">
            <label for="sum"> Сумма документа </label>
          </div>
          <div class="col">
            <input [(ngModel)]="docInfo.sum" type="text" class="inputText" id="sum" [disabled]="docInfo.isClosed">
          </div>
          <div class="col col-lg-3">
            <label for="vatValue"> Сумма НДС </label>
          </div>
          <div class="col">
            <input [(ngModel)]="docInfo.vat" type="text" class="inputText" id="vatValue" [disabled]="docInfo.isClosed">
          </div>
        </div>

        <div class="row">
          <div class="col col-lg-3">
            <label for="proc_nds">Процент НДС</label>
          </div>
          <div class="col col-lg-3">
            <select class="browser-default custom-select inputText" id ="proc_nds" (ngModelChange)="onChangeVat($event)" [(ngModel)]="docInfo.vatPercentId" [disabled]="docInfo.isClosed">
              <option *ngFor="let title of procNds" [value]="title.id">
                {{title.percent}}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group purple-border">
          <label for="prim">Примечание</label>
          <textarea class="form-control" id="prim" rows="3" [(ngModel)]="docInfo.comments" [disabled]="docInfo.isClosed"> </textarea>
        </div>

      </div>

      <div class="col">
        <h5>Список доп. документов</h5>
        <button matTooltip="Добавить документы в таблицу" class ="btn btn-outline-success" type="button" style="width: 100px;" (click)="uploadDocs()" [disabled]="docInfo.isClosed"> Добавить </button>
        <table mat-table [dataSource]="dataSourceFiles" matSort class="mat-elevation-z8">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let element">
              <button
                      matTooltip="Скачать файл"
                      class ="btn btn-outline-dark"
                      type="button" style="width: 55px;"
                      (click)="OpenDoc(element.id, element.name, 0)"><img [src]="imageSource" *ngIf="imageSource"/></button>
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Наименование </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Дата документа </th>
            <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'dd.MM.yyyy'}}  </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let element">
              <button
                matTooltip="Удалить файл"
                class ="btn btn-outline-danger" type="button" style="width: 35px;" (click)="DeleteFile(element)" [disabled]="docInfo.isClosed"> X </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>

<input
  type="file"
  #file
  style="display: none"
  (change)="onFilesAdded()"
  multiple
/>


