<h4>Карточка документа</h4>
  <div class="container mat-elevation-z10" *ngIf="docInfo" style="width: 80%">
    <a class="btn btn-outline-primary" (click)="Return()"> Назад </a>
    <button class="btn btn-outline-success" (click)="saveDoc()" style="margin-left: 10px"> Сохранить </button>
    <hr>
    <div class="row">
      <div class="col-md-6">

        <div class="row">

          <div class="col">
            <label for="inputDate">Дата документа</label>
          </div>
          <div class="col">
            <input type="date" class="form-control" id ="inputDate" [(ngModel)]="docInfo.date">
          </div>

          <div class="col">
            <label for="close"> Закрыт </label>
          </div>
          <div class="col">
            <input [(ngModel)]="docInfo.isClosed" type="checkbox" class="form-check-input" id="close">
          </div>
        </div>


        <div class="row" style="margin-top: 5px">
          <div class="col col-lg-4">
            <label for="id_type_doc"> Тип документа </label>
          </div>
          <div class="col">

            <select class="browser-default custom-select inputText" id ="id_type_doc" [(ngModel)]="docInfo.documentTypeId">
              <option *ngFor="let title of typesDoc" [value]="title.id">
                {{title.name}}
              </option>
            </select>

          </div>
        </div>

        <div class="row" style="margin-top: 5px">
          <div class="col col-lg-4">
            <label for="id_vid_doc"> Вид документа </label>
          </div>
          <div class="col">
            <select class="browser-default custom-select inputText" id ="id_vid_doc" [(ngModel)]="docInfo.documentKindId">
              <option *ngFor="let title of vidsDoc" [value]="title.id">
                {{title.name}}
              </option>
            </select>
          </div>
        </div>

        <div class="row" style="margin-top: 5px">
          <div class="col col-lg-4">
            <label for="num_doc"> № документа </label>
          </div>
          <div class="col">
            <input [(ngModel)]="docInfo.number" type="text" class="inputText" id="num_doc">
          </div>
        </div>

        <div class="form-group purple-border">
          <label for="spec">Описание документа</label>
          <textarea class="form-control" id="spec" rows="3"> {{docInfo.description}} </textarea>
        </div>

        <div class="row">
          <div class="col col-lg-6">
            <label for="customerId">Подразделение составившее документ</label>
          </div>
          <div class="col">
            <select class="browser-default custom-select inputText" id ="customerId" [(ngModel)]="docInfo.departmentId">
              <option *ngFor="let title of orgs" [value]="title.id">
                {{title.name}}
              </option>
            </select>
          </div>
        </div>

        <div class="row" style="margin-top: 5px">
          <div class="col col-lg-4">
            <label for="name_doc"> Ссылка на документ </label>
          </div>
          <div class="col">
            <input [(ngModel)]="docInfo.filePath" type="text" class="inputText" id="name_doc">
          </div>
        </div>

        <div class="row" style="margin-top: 5px">
          <div class="col col-lg-3">
            <label for="sum"> Сумма документа </label>
          </div>
          <div class="col">
            <input [(ngModel)]="docInfo.sum" type="text" class="inputText" id="sum">
          </div>
          <div class="col col-lg-3">
            <label for="vatValue"> Сумма с НДС </label>
          </div>
          <div class="col">
            <input [(ngModel)]="docInfo.vatValue" type="text" class="inputText" id="vatValue" readonly="true">
          </div>
        </div>

        <div class="row">
          <div class="col col-lg-3">
            <label for="proc_nds">Процент НДС</label>
          </div>
          <div class="col col-lg-3">
            <select class="browser-default custom-select inputText" id ="proc_nds" [(ngModel)]="docInfo.vatPercentId">
              <option *ngFor="let title of procNds" [value]="title.id">
                {{title.percent}}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group purple-border">
          <label for="prim">Примечание</label>
          <textarea class="form-control" id="prim" rows="3"> {{docInfo.comments}} </textarea>
        </div>

      </div>

      <div class="col">
        <h5>Список доп. документов</h5>
        <button class ="btn btn-outline-success" type="button" style="width: 100px;" (click)="uploadDocs()"> Добавить </button>
        <table mat-table [dataSource]="dataSourceFiles" matSort class="mat-elevation-z8">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let element">
              <button class ="btn btn-outline-dark" type="button" style="width: 35px;" (click)="OpenDoc(element)"> + </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Наименование </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Дата документа </th>
            <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'dd.MM.yyyy'}}  </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>

<input
  type="file"
  #file
  style="display: none"
  (change)="onFilesAdded()"
  multiple
/>


