@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/scss/bootstrap';

.mat-table {
  width: 99%;
}

table tr.mat-row {
  height: 35px;
}

.mat-cell {
  font-size: 12px;
  max-height: 20px;
  text-align: center;
  border-right: 1px solid gainsboro;
}
 table, th, td {
  border: 1px solid gainsboro;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-header-cell {
  text-align: center;
}

.mat-column-ContractId {
  min-width: 50px;
  max-width: 60px;
  align-items: center;
}
