<hr>

<a class="btn btn-outline-primary" (click)="Return()"> Назад </a>

<p>&#8195;</p>

<div class="row">
  <div class="col">
    <h6> Шаблоны </h6>
    <div style="height: auto;">

      <table mat-table [dataSource]="dataSource1" matSort class="mat-elevation-z8 table-container">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Порядковый номер</th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <ng-container matColumnDef="nm">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Наименование</th>
          <td mat-cell *matCellDef="let element"> {{element.nm}} </td>
        </ng-container>

        <ng-container matColumnDef="ds">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Описание</th>
          <td mat-cell *matCellDef="let element"> {{element.ds}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"
            (click)="selection.toggle(row)">
        </tr>
      </table>

    </div>
  </div>

  <div class="col">
    <h6> Работы </h6>
    <div style="height: auto;">

      <table mat-table [dataSource]="dataSource2" matSort class="mat-elevation-z8 table-container">

        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> № п/п</th>
          <td mat-cell *matCellDef="let element"> {{element.number}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Вид этапа</th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>

        <ng-container matColumnDef="isHead">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Головной этап</th>
          <td mat-cell *matCellDef="let element"> {{element.isHead}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Наименование</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="minenergoName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Наименование этапов Минэнерго</th>
          <td mat-cell *matCellDef="let element"> {{element.minenergoName}} </td>
        </ng-container>

        <ng-container matColumnDef="planStartDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Планируемая дата начала</th>
          <td mat-cell *matCellDef="let element"> {{element.planStartDate}} </td>
        </ng-container>

        <ng-container matColumnDef="planEndDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Планируемая дата окончания</th>
          <td mat-cell *matCellDef="let element"> {{element.planEndDate}} </td>
        </ng-container>

        <ng-container matColumnDef="factStartDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Фактическая дата начала</th>
          <td mat-cell *matCellDef="let element"> {{element.factStartDate}} </td>
        </ng-container>

        <ng-container matColumnDef="factEndDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Фактическая дата окончания</th>
          <td mat-cell *matCellDef="let element"> {{element.factEndDate}} </td>
        </ng-container>

        <ng-container matColumnDef="planCost">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Плановая стоимость без НДС (тыс.руб.)</th>
          <td mat-cell *matCellDef="let element"> {{element.planCost}} </td>
        </ng-container>

        <ng-container matColumnDef="factCost">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Фактическая стоимость без НДС (тыс.руб.)</th>
          <td mat-cell *matCellDef="let element"> {{element.factCost}} </td>
        </ng-container>

        <ng-container matColumnDef="completionPercent">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Процент выполнения (%)</th>
          <td mat-cell *matCellDef="let element"> {{element.completionPercent}} </td>
        </ng-container>

        <ng-container matColumnDef="documentConnection">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Типы документов для связи</th>
          <td mat-cell *matCellDef="let element"> {{element.documentConnection}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
      </table>

    </div>
  </div>
</div>
